<%- include('partials/header'); -%>

<h1>Compose</h1>
<form  action="/compose" method="post"> 
    <div class="form-group">
        <label for=" ">Title</label>
        <input type="text" class="form-control" name="title"/>
        <label for=" ">Content</label>
        <textarea class="form-control" name="content" rows="10" ></textarea>
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>


<%- include('partials/footer'); -%>